:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #5D5E5E;
    --secondary-color: #ffffff;
    --tertiary-color: #ADD8E6;
    --error-color: #EE3A23;
}

.background {
    background-color: #8A8C8F;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.button {
   background-color: var(--tertiary-color);
    border-radius: 8px;
    border-width: 0;
    color: var(--secondary-color);
    cursor: pointer;
    display: inline-block;
    font-family: "Calibri", Calibri, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

select {
  font-weight: bold;
}

label{
  font-weight:bold;
}

form label{
  font-weight:bold;
}

.div-1{
  font-weight:bold;
  display: inline-block;
  color: var(--tertiary-color);
}

.div-2{
  font-weight:bold;
  display: inline-block;
}

.div-3{
  font-weight:bold;
  display: inline-block;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: var(--tertiary-color);
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.intro{
  margin: auto;
}

.box{
  height: 300px;
  width: 800px;
  background: linear-gradient(to left, #003366 0%, #99ccff 100%);
  position:absolute;
  top:150px;
  left:0;
  right:0;
  margin:auto;
  border-radius:20px;
}
.black {
  width: 50%;
  float: left;
  background: linear-gradient(to bottom right, #6699ff 0%, #000066 100%);
  height: 100vh;
}

.white{
  width: 50%;
  float: right;
  background: linear-gradient(to bottom left, #6699ff 0%, #000066 100%);
  height: 100vh;
}

.boxfather{
  width:100%;
  position:absolute;
}

.box h1{
  color: #E4E4E4;
  font-size: 5em;
  text-align: center;
  position: relative;
  top:70px;
  font-family: 'Montserrat', sans-serif;
}

.box boxbuttons{
  left:13%;
  position:relative;
  top:120px;
  padding: 8px 20px;
  cursor:pointer;
  border:0;
  outline:none;
  color:#525252;
  background:#E4E4E4;
  transition:all .3s ease;
  font-size: 19px;
  font-family: montserrat;
  border-radius:5px;
}

